@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

@font-face {
    font-family: Retro;
    src: url(fonts/StarkwalkerClassic_PERSONAL_USE_ONLY.otf)

    }

    @font-face {
        font-family: idroid;
        src: url(fonts/idroid.otf);
    }


/*
Cor principal: #1E3A8A
Cor secundária: #3B5BDB
Cor de destaque: #6B8FF1
Cor de detalhe: #A3BFFA
Cor de texto: #E0E7FF
*/
:root {
    --cor1: #1E3A8A;
    --cor2: #3f5fe1d8;
    --cordestaque: #6B8FF1;
    --cordetalhe: #A3BFFA;
    --cortext: #E0E7FF;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(27, 99, 193, 0.698);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), #11114fee);
    min-height: 150px;
    text-align: center;
}

header h1 {
      font-family: "Bebas Neue", sans-serif;
      font-weight: bold;
      font-size: 2.5em;
    color: rgb(255, 255, 255);
    padding: 10px;
    
}

header p {
    padding: 20px;
    font-family: 'Roboto Condensed' ;
    color: rgb(206, 206, 206);

}

nav {
    text-decoration: none;
    background-color:#11114fee ;
    padding: 10px;

}

nav a {
    text-decoration: none;
    color: white;
    padding: 7px;
    font-family: 'Roboto Condensed' ;
}

nav a:hover {
    text-decoration: underline;
    background-color: rgb(17, 17, 237);
    transition-duration: 0.5s;
}

main {
    width: 1500px;
    margin: auto;
    background-color: white;
    text-align: center;
    padding-bottom: 50px;
}

.title {
    font-family: 'idroid';
    font-size: 2em;
    background-image: linear-gradient(to right, rgba(37, 37, 232, 0.785), transparent);
    color: var(--cor1)
}

main h1 {
    font-family: 'Roboto Condensed';
}

main p {
    margin: 15px auto;
    text-align: center;
    line-height: 2em;
    font-size: 1em;
    width: 80%;
    text-indent: 1em;
    
}

aside {
    background-color: beige;
    text-align: center;
    text-indent: none;
    width: 1500px;
    padding-bottom: 50px;
    margin: auto;
    line-height: 1.5em;
    
}


div.video {
    background-color:#6B8FF1 ;
    margin: 50px ;
    position: relative;
    padding-bottom: 50.6%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: blue; 
}

aside p {
    background-color: rgba(69, 231, 204, 0.718);
}






